*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 86px;
    border-bottom: 1px solid rgb(238, 238, 238);
    align-items: center;
    position: fixed ;
    left: 0;
    right: 0;
    top: 0;
}  
.feature-item{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}  
.location{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    
}
a{
    text-decoration: none;
}
.nav-item{
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    font-family: Okra-Regular;
    
}
#my-cart{
    font-size: 16px;
    color: rgb(255,255,255);
    background-color: rgb(12, 131, 31);
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
    width: 112px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex
}
.banner-Pan{
    display: flex;
    position: relative;
    justify-content: center;
   
}
.banner-container{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10px;
  
    
}
.wrapper{
    margin-top: 130px;
    
}
.food-category-container{
    display: grid;
    grid-template-columns: repeat(10,128px);
    justify-content: center;
}
.food-item{
   
    cursor: pointer;
}
.dariy-products-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 3000px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
       
        
  
    
}
.dairy-products{
    display: flex;
    
}
.food-Intro{
    align-self:self-start; 
}